@charset "UTF-8";

/* 기존 소스 custom */
.map .sec_01 .call-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

.call-wrap .col.l2 {
    margin: 0;
    width: 100%;
}

.call-wrap .col.s10 {
    width: 100%;
}

.map .sec_02 .bus-title h4 {
    text-align: left;
    word-break: break-all;
}

/* 
.table_bus tbody {
    display: flex;
    flex-direction: column;
}

.table_bus tbody>tr {
    display: flex;
    flex-direction: column;
}

.table_bus tbody>tr>th {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: min-content;
    padding: 12px 0 !important;
    width: 100% !important;
}

.table_bus tbody>tr>th img {
    height: 24px;
    margin: 0 !important;
    width: 24px;
}

.table_bus tbody>tr>td {
    height: min-content;
}

.table_bus tbody>tr>td>ul {
    display: flex !important;
    flex-direction: column;
    gap: 12px;
}

.table_bus tbody>tr>td>ul>li {
    padding: 0 !important;
    width: 100% !important;
}

.breadcrumb-wrap .breadcrumb li a.home {
    font-size: 0;
} */

.market-dm .bus_list {
    display: block;
}

@media screen and (min-width: 768px) {
    .map .sec_01 .call-wrap {
        display: block;
    }

    .call-wrap .col.l2 {
        width: 16.6666666667%;
        margin-left: auto;
    }

    .call-wrap .col.s10 {
        width: 83.3333333333%;
    }

    /* .table_bus tbody>tr>td>ul {
        flex-direction: row;
    }

    .table_bus tbody>tr>td>ul>li {
        width: 50% !important;
    } */
}

@media screen and (min-width: 992px) {
    .market-dm .bus_list {
        display: table;
    }
}

/* 신규 css */
.map-img {
    background: url(../../images/new/m_map.png);
    background-size: cover;
    background-position: left top;
    display: block;
    font-size: 0;
    height: 220px;
    width: 100%;
}

@media screen and (min-width: 468px) {
    .map-img {
        height: 260px;
    }
}

@media screen and (min-width: 576px) {
    .map-img {
        height: 340px;
    }
}

@media screen and (min-width: 768px) {
    .map-img {
        background: url(../../images/new/pc_map.png);
        background-size: cover;
        background-position: left top;
        height: 380px;
    }
}

@media screen and (min-width: 992px) {
    .map-img {
        height: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .map-img {
        height: 580px;
    }
}

.school-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.school-img img {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .school-wrap {
        gap: 30px;
    }
}

.diagram_01 ul {
    align-items: center;
    flex-direction: column;
}

.diagram_01 ul li {
    font-size: 16px !important;
    height: 200px !important;
    width: 200px !important;
}

.diagram_01 ul li:nth-child(2) {
    margin: -20px 0;
}

@media screen and (min-width: 768px) {
    .diagram_01 ul {
        align-items: center;
        flex-direction: row;
    }

    .diagram_01 ul li {
        height: 220px !important;
        width: 220px !important;
    }
}

@media screen and (min-width: 1200px) {
    .diagram_01 ul li {
        font-size: 20px !important;
        height: 300px !important;
        padding: 20px !important;
        width: 300px !important;
    }
}

.quick-wrap {
    display: none !important;
}

.main-wrap {
    margin: 0 !important;
}

.sa-container {
    /* display: flex; */
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:1200px) {
    .sa-container {
        max-width: 1180px !important;
    }
}

@media (min-width:1400px) {

    .sa-container {
        max-width: 1320px !important;
    }
}

@media (min-width:1500px) {

    .sa-container {
        max-width: 1400px !important;
    }
}

.sa-container .row {
    justify-content: space-between;
}

.sa-container .row .col.l3 {
    margin: 0;
}

.sa-container .main-wrap {
    margin: 0 0 0 auto !important;
}

.sa-container>.row {
    padding-top: 32px !important;
}

@media (min-width:1025px) {
    .sa-container>.row {
        padding-top: 60px !important;
    }
}

@media (min-width:1400px) {
    .sa-container .col.l3 {
        width: 20%;
    }

    .sa-container .col.l8 {
        width: 75%;
    }
}

.diagram_02 dt {
    font-size: 16px !important;
}

@media (min-width:1025px) {
    .diagram_02 dt {
        font-size: 20px !important;
    }
}

.mission-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 210px;
    justify-content: center;
}

.mission-box h5 {
    font-size: 18px;
}

@media (min-width:1025px) {
    .mission-box {
        height: 240px;
    }

    .company_vision .vision-container .strategy-container .title {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .company_vision .vision-container .strategy-container .row .strategy-group .strategy-list li {
        font-size: 16px;
    }

    .company_vision .vision-container .strategy-container .row .tasks-group .tasks-list li {
        text-align: left;
    }

    .company_vision .vision-container .core-values {
        padding: 0 24px;
    }

    .value-wrap {
        flex-wrap: wrap;
        gap: 40px;
    }

    .value-wrap .value {
        margin: 0 !important;
    }
}

@media (min-width:1400px) {
    .mission-box h5 {
        font-size: 24px;
    }

    .company_vision .vision-container .strategy-container .row .strategy-group .strategy-list li {
        font-size: 20px;
    }
}

.banner-wrap h5 {
    font-size: 16px;
}

.company_history .history_wrap .list li .month {
    flex: 0 0 auto;
}

@media (min-width:1025px) {
    .company_history .banner-wrap {
        padding: 32px 20px;
        width: 100%;
    }

    .company_history .banner-wrap .left {
        flex: 0 0 auto;
    }

    .company_history .banner-wrap .text-wrap {
        gap: 40px;
        margin: 0 !important;
    }

    .company_history .banner-wrap .text-left h2 {
        font-size: 40px;
    }
}

@media (min-width:1025px) {
    .company_history .banner-wrap {
        padding: 32px 60px;
        width: 100%;
    }

    .company_history .banner-wrap .text-left h2 {
        font-size: 60px;
    }

    .company_history .banner-wrap .text-right h5 {
        font-size: 20px;
    }
}

.w-gnb-wrap .w-gnb-menu .submenu-in.about,
#w-gnb-sm4-1 .sub-in {
    width: 33.3% !important;
}

#w-gnb-sm2-1 .sub-tit a,
#w-gnb-sm2-2 .sub-tit a,
#w-gnb-sm2-3 .sub-tit a,
#w-gnb-sm2-4 .sub-tit a,
#w-gnb-sm2-5 .sub-tit a,
#w-gnb-sm2-6 .sub-tit a,
#w-gnb-sm2-7 .sub-tit a,
#w-gnb-sm2-8 .sub-tit a,
#w-gnb-sm2-9 .sub-tit a {
    align-items: flex-start;
    display: flex;
    height: 68px;
}

@media (min-width:1025px) {
    .market-list {
        display: flex;
        gap: 30px;
    }

    .market-list dl {
        display: flex;
        flex-direction: column;
    }

    .market-list dl dd {
        flex: 1;
    }
}

.img-cover {
    width: 100%;
}

@media (min-width:1025px) {
    .gr_step dl {
        align-items: center;
        display: flex;
    }

    .gr_step dl dd {
        align-items: center;
        display: flex;
        flex: 1;
        height: 64px;
    }

    .citizen-event-wrap {
        gap: 24px;
    }

    .citizen-event-wrap .col {
        width: calc(50% - 12px) !important;
    }

    .gr_step.type2 {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    .gr_step.type2 dl {
        align-items: stretch;
        position: relative;
    }

    .gr_step.type2 dt {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .gr_step dl::after {
        display: none;
    }

    .gr_step.type2 dl dt {
        min-height: 80px;
        height: auto;
        text-align: center;
        padding: 12px 0;
    }

    .gr_step.type2 dl dt::after {
        content: url(../../images/icon_common-arrowDown_blue.svg);
        position: absolute;
        bottom: -42px;
    }

    .gr_step.type2 dl.last dt::after {
        display: none;
    }

    .gr_step.type2 dl dd {
        align-items: flex-start;
        flex: 1;
        height: auto;
        justify-content: center;
    }

    .gr_step.type2 ul li {
        font-size: 16px;
        text-align: left;
    }

    .chulha_step_list {
        display: flex;
    }

}

.chulha_process .tit1 {
    font-size: 16px !important;
    line-height: 1.2;
}

@media (min-width:1025px) {
    .chulha_process {
        display: flex !important;
        justify-content: center;
        width: 100% !important;
    }

    .chulha_process .box1,
    .chulha_process .box2 {
        display: flex !important;
        flex-direction: column;
        height: auto;
        flex: 0 0 auto;
    }

    .chulha_process .con_box1 {
        flex: 1;
    }

    .chulha_process .step_box {
        flex: 0 0 auto;
        width: 168px;
    }
}

.market-dm .bold_list {
    gap: 8px;
}

.market-dm .bold_list>li {
    display: flex;
    flex-direction: column;
}

.market-dm .bold_list .txt1 {
    padding: 0 !important;
}

.market-dm .dm_map_list .gr_list .fix_w {
    width: 100%;
}

@media (min-width:1025px) {
    .market-dm .bold_list>li {
        flex-direction: row;
        gap: 12px;
    }

    .bold_list.type2>li {
        flex-direction: column;
        gap: 4px;
    }

    .market-dm .bold_list .bold {
        width: auto;
    }

    .dm_map_list .gr_list li {
        flex-direction: column;
    }
}

.main-visual {
    align-items: center;
    /* background: url(../../images/img_main-sec01_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center; */
    display: flex;
    height: 70vh;
    justify-content: center;
    position: relative;
}

.main-video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main-visual .main-visual-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    padding: 0 20px;
    width: 100%;
}

.main-visual .main-visual-text .mo-text {
    max-width: 600px;
    width: 100%;
}

.main-visual .main-visual-text .pc-text {
    display: none;
}

@media (min-width:1025px) {
    .main-visual .main-visual-text {
        bottom: 40px;
        left: 40px;
        top: unset;
        transform: unset;
    }

    .main-visual .main-visual-text .mo-text {
        display: none;
    }

    .main-visual .main-visual-text .pc-text {
        display: block;
        max-width: 800px;
    }
}

@media (min-width:1400px) {
    .main-visual .main-visual-text .pc-text {
        max-width: 1200px;
    }
}

@media screen and (min-width:768px) {
    .ddmeal_w .sec_02 .diagram_01 dt {
        width: auto;
    }
}